.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: auto;
  padding: 0 2rem;
  height: 100px;
  color: white;
  position: fixed;
  z-index: 30;
}
.white {
  background-color: white;
  color: black;
  transition: all 0.8s ease-out;
}
.nav .menu_top {
  display: flex;
  justify-content: space-between;
}
.nav .menu_top img {
  cursor: pointer;
}
.nav .menu {
  display: none;
  background-color: #f15d2d;
  padding: 0.5rem 1rem;
}
.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}
.nav .link_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .nav .link_list > * {
  display: none;
} */
.image {
  display: none !important;
}
.nav ul li {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}
.nav ul li:hover > a {
  color: #095a88;
}
.nav ul > li > *:first-child {
  height: 100%;
}
.nav ul li a {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.contact {
  color: white;
}
.contact:hover {
  color: white;
}
.dropdown {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #2b2b2b;
  gap: 2rem;
  padding: 1rem;
  display: none;
  z-index: 10;
}
.dropdown li {
  font-weight: 500;
  padding: 0.5rem;
  display: flex;
  position: relative;
  font-weight: 400 !important;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}
.dropdown li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #095a88;
  box-sizing: border-box;
}
.nav ul li:hover > .dropdown {
  display: block;
}
.dropdown .inner_dropdown {
  position: absolute;
  left: 100%;
  /* right: -20rem; */
  background-color: white;
  padding: 1rem;
  display: none;
  color: #2b2b2b;
  width: 100%;
}
.dropdown li a {
  padding: 0 !important;
}
.dropdown > li:hover > .inner_dropdown {
  display: block;
}

@media screen and (max-width: 700px) {
  .nav {
    display: block;
    margin-top: 0;
    background-color: white;
    gap: 2rem;
    width: 100%;
    padding: 0;
    z-index: 20;
    position: fixed;
    margin: 0 auto;
    height: 10vh;
  }
  .nav .menu_top {
    padding: 0.5rem;
  }
  .nav .menu {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
  }
  .nav ul {
    flex-direction: column;
    z-index: 1000;
    background-color: white;
    color: #2b2b2b;
    font-size: 16px;
    padding: 2rem 1rem;
    width: 100vw;
    margin: 0;
    height: 100vh;
    z-index: 40;
    overflow: scroll;
    margin-bottom: 1rem;
  }
  body + .nav ul {
    overflow: hidden;
  }
  .nav ul > li > *:first-child {
    height: auto;
  }
  .nav > ul.close {
    display: none;
  }
  .nav > ul.open {
    display: flex !important;
  }
  .nav ul li {
    padding: 1rem 0;
  }
  .nav ul li a {
    padding: 0;
  }

  .image {
    display: block !important;
  }
  .dropdown {
    position: relative;
    /* display: block; */
  }
  .dropdown li {
    display: flex;
    flex-direction: column;
  }
  .dropdown .inner_dropdown {
    position: relative;
    left: 0;
  }
  .contact {
    background-color: #095a88;
    padding: 0.5rem !important;
    display: flex;
    justify-content: center;
    background-image: none !important;
  }
}
