.form {
  position: absolute;
  top: -15rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.form button {
  background-color: white;
  color: #095a88;
  font-weight: 700;
}
.form section {
  max-width: 70rem;
  background-color: #49637e;
  padding: 2rem 3rem;
}
.form h2 {
  text-align: center;
}
.form label {
  text-transform: uppercase;
  font-weight: 700;
}
.form input,
.form textarea {
  border: 1px solid white;
  padding: 2rem;
  background-color: #49637e;
  color: #bdbdbd;
}
.form textarea {
  resize: none;
  height: 10rem;
}
.form input::placeholder,
.form textarea::placeholder {
  color: #bdbdbd;
}
.form section > div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.form div:last-child {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .form {
    display: block;
    margin-left: 0;
  }
  .form section {
    max-width: 100%;
    padding: 1rem;
  }
  .form .bottom {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}
